body {
    display: flex;
    justify-content: center;
    background-color: bisque;
}

.mainContainer {
    background-color: cornflowerblue;
    color: blanchedalmond;
    width: auto;
    border: 15px solid white;
    padding: 50px;
    margin: 10px;
}



